[Unit]
Description=LEDScape UDP Receiver

[Service]
WorkingDirectory=/home/root/LEDscape/
ExecStart=/home/root/LEDscape/run-ledscape
KillMode=process

[Install]
WantedBy=multi-user.target
